<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ArtifactoryNuGetV3" value="https://sonynms.jfrog.io/sonynms/api/nuget/v3/nuget" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <ArtifactoryNuGetV3>
      <add key="Username" value="svcacct-artfcty" />
      <add key="ClearTextPassword" value="AKCp5dKEGK8ErUvG7Tk8meEfvtWU4hTwa8Si3TF7Ln9uwLcWj5aBnQcBSAvsWhHJrVtuUhoRJ" />
    </ArtifactoryNuGetV3>
  </packageSourceCredentials>
</configuration>